.button {
	/*margin: 200px;*/
	height: 50px;
	width: 150px;
	margin: 0 auto;
	margin-top: 150px; 
	text-align: center;
	background: #333;
	border-radius: 5px;
	border-bottom: 5px solid #000;
	border-right: 3px solid #000;
}

.button a {
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	line-height: 50px;
	text-transform: uppercase;
	color: #fff;
}

.button:hover {
	background: #666;
}


